{
    "resources": {
        "styles": {},
        "scripts": {}
    },
    "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"$defs\":{\"CountriesDTO\":{\"type\":\"object\",\"properties\":{\"countriesList\":{\"type\":\"array\",\"items\":{\"$ref\":\"#/$defs/CountryDTO\"}}}},\"CountryDTO\":{\"type\":\"object\",\"properties\":{\"country\":{\"type\":\"string\"},\"countryId\":{\"type\":\"integer\"},\"last_update\":{\"type\":\"string\",\"format\":\"date-time\"}}}},\"type\":\"object\",\"properties\":{\"countriesList\":{\"$ref\":\"#/$defs/CountriesDTO\",\"input\":true},\"validCountries\":{\"type\":\"boolean\",\"output\":true}}}"
}