{
    "resources": {
        "styles": {},
        "scripts": {}
    },
    "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"type\":\"object\",\"properties\":{\"bVar3\":{\"type\":\"boolean\",\"input\":true},\"iVar2\":{\"type\":\"integer\",\"input\":true},\"svar1\":{\"type\":\"string\",\"input\":true}}}"
}