{
    "resources": {
        "styles": {},
        "scripts": {}
    },
    "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"type\":\"object\",\"properties\":{\"bVar3\":{\"type\":\"boolean\",\"output\":true},\"iVar2\":{\"type\":\"integer\",\"output\":true},\"sVar1\":{\"type\":\"string\",\"output\":true}}}"
}