{
    "resources": {
        "styles": {},
        "scripts": {}
    },
    "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"type\":\"object\",\"properties\":{\"bVar3\":{\"type\":\"boolean\"},\"comment\":{\"type\":\"string\"},\"iVar2\":{\"type\":\"integer\"},\"sVar1\":{\"type\":\"string\"}}}"
}